/* For Testing */
body {
    background-color: #f7cbd4;
}

/* rule-set #1 */
#number-one{
    color: red;
}

/* rule-set #2 */
#number-two{
    font-size: 16px;
}

/* rule-set #3 */
.first-class{
    color: green;
    float: right;
}

/* rule-set #4 */
.second-class{
    font-size: 24px;
}
